<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/add.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/button.css}">

<!-- jQueryの読み込み -->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<!-- jQueryUiの読み込み -->
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">

<title>ユーザー登録</title>
</head>
<body>
	<script type="text/javascript" th:src="@{/js/user/userRole.js}"></script>

	<div th:replace="util/fragments::header_block(|ユーザー情報登録画面|)"></div>
	<div id="container">

		<form th:action="@{/user/confirm}" name="add" method="POST"
			th:object="${userAddForm.userForm}">

			<div class="system-msg">
				<span th:errors="${userAddForm.sysMsg}">システムメッセージ</span>
			</div>

			<div id="hiddenData"
				th:each="userRole, userRoleStatus : ${userAddForm.userRoleFormList}">
				<input type="hidden" th:class="userRole"
					th:value="${userRole.roleId}">
			</div>


			<table class="user-add">

				<tr>
					<th>ログインID<span class="system-msg">※</span></th>
					<td><span th:if="${#fields.hasErrors('userId')}"
						th:errors="*{userId}" class="system-msg">haserror</span> <input
						type="text" th:field="*{userId}"></td>
				</tr>

				<tr>
					<th>ユーザー名<span class="system-msg">※</span></th>
					<td><span th:if="${#fields.hasErrors('userName')}"
						th:errors="*{userName}" class="system-msg">haserror</span> <input
						type="text" th:field="*{userName}"></td>
				</tr>

				<tr>
					<th>システム権限<span class="system-msg">※</span></th>
					<td id="role"><th:block
							th:each="user, status : ${userAddForm.roleFormList}">
							<input type="checkbox" th:id="${user.roleId}" class="role"
								th:field="${userAddForm.roleFormList[__${status.index}__].roleId}"
								th:value="${user.roleId}" th:text="${user.roleId}" />
						</th:block></td>
				</tr>

				<tr>
					<th>パスワード<span class="system-msg">※</span></th>
					<td><span class="system-msg" th:errors="*{password}"></span> <input
						type="password" th:id="password" th:field="*{password}"></td>
				</tr>
				<tr>
					<th>パスワード（確認）<span class="system-msg">※</span></th>
					<td><span id="password-check"></span> <input type="password"
						th:id="retypePassword" th:field="*{retypePassword}"></td>
				</tr>

				<tr>
					<th>性別</th>
					<td><input type="radio" th:field="*{gender}" th:value="男"
						th:text="男" /> <input type="radio" th:field="*{gender}"
						th:value="女" th:text="女"> <input type="radio"
						th:field="*{gender}" th:value="どちらでもない" th:text="どちらでもない" /></td>
				</tr>

				<tr>
					<th>生年月日</th>
					<td><span class="system-msg" th:errors="*{birthday}"></span> <input
						type="date" th:field="*{birthday}"></td>
				</tr>

				<tr>
					<th>電話番号(ハイフンあり)</th>
					<td><span class="system-msg" th:errors="*{contact}"></span> <input
						type="text" th:field="*{contact}"></td>
				</tr>

				<tr>
					<th>メール</th>
					<td><span class="system-msg" th:errors="*{mailAddress}"></span>
						<input type="text" th:id="address" th:field="*{mailAddress}"></td>
				</tr>
				<tr>
					<th>メール（確認）</th>
					<td><span class="system-msg" th:errors="*{retypeMailAddress}"></span>
						<span id="address-check"></span> <input type="text"
						th:id="addressCheck" th:field="*{retypeMailAddress}"></td>
				</tr>

			</table>

			<div class="bottom" align="center">
				<button class="btn-animation-add" id="confirm" name="add">
					<span>登録</span>
				</button>
				<a class="btn-animation-menu" onClick="location.href='/user/list'"><span>戻る</span></a>
			</div>


		</form>

	</div>
	<!-- container -->
	<div th:replace="util/fragments::footer_block()"></div>

	<!-- jsファイルの読み込み -->
	<script type="text/javascript" th:src="@{/js/user/userRetype.js}"></script>

</body>
</html>
