<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" media="all"
			th:href="@{/css/main.css}">
		<link rel="stylesheet" type="text/css" media="all"
			th:href="@{/css/detail.css}">
		<link rel="stylesheet" type="text/css" media="all"
			th:href="@{/css/button.css}">
		<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
		<script th:src="@{/js/facilityreservation/findFacility.js}" ></script>
		<title>予約詳細</title>
	</head>
	<body>

		<div th:replace="util/fragments::header_block(|予約詳細画面|)"></div>

		<div id="container">
			<div class="reservation-detail" th:object="${facilityReservationDetailForm.facilityReservationForm}">
				<div class="reservation-detail-header">
					<ul>
						<li th:text="|*{year}年*{month}月*{date}|">
						<span>
							<li th:text="*{facilityForm.name}">
							<li th:text="|*{startTimeHour}:*{startTimeMinute}~*{endTimeHour}:*{endTimeMinute}|">
						</span>
					</ul>
					<div class="system-msg">
						<span th:errors="${facilityReservationDetailForm.sysMsg}">システムメッセージ</span>
					</div>
				</div>
				<div class="reservation-detail-body">
					<div class="select-time">
						<p>開始時間</p>
						<select>
						<th:block th:each="i : ${#numbers.sequence(0, 23)}">
							<th:block th:if="${i} == *{toInteger(startTimeHour)}">
								<option th:if="${i} < 10" th:text="|0${i}|" th:value="${i}" selected>
								<option th:if="${i} >= 10" th:text="${i}" th:value="${i}" selected>
							</th:block>
							<th:block th:if="${i} != *{toInteger(startTimeHour)}">
								<option th:if="${i} < 10" th:text="|0${i}|" th:value="${i}">
								<option th:if="${i} >= 10" th:text="${i}" th:value="${i}">
						</th:block>
						</select>
						<select>
						<th:block th:each="i : ${#numbers.sequence(0, 3)}">
							<th:block th:if="${i*15} == *{toInteger(startTimeMinute)}">
								<option th:if="${i*15} < 10" th:text="|0${i*15}|" th:value="${i*15}" selected>
								<option th:if="${i*15} >= 10" th:text="${i*15}" th:value="${i*15}" selected>
							</th:block>
							<th:block th:if="${i*15} != *{toInteger(startTimeMinute)}">
								<option th:if="${i*15} < 10" th:text="|0${i*15}|" th:value="${i*15}">
								<option th:if="${i*15} >= 10" th:text="${i*15}" th:value="${i*15}">
							</th:block>
						</th:block>
						</select>
					</div>
					<div class="select-time">
						<p>終了時間</p>
						<select>
						<th:block th:each="i : ${#numbers.sequence(0, 23)}">
							<th:block th:if="${i} == *{toInteger(endTimeHour)}">
								<option th:if="${i} < 10" th:text="|0${i}|" th:value="${i}" selected>
								<option th:if="${i} >= 10" th:text="${i}" th:value="${i}" selected>
							</th:block>
							<th:block th:if="${i} != *{toInteger(endTimeHour)}">
								<option th:if="${i} < 10" th:text="|0${i}|" th:value="${i}">
								<option th:if="${i} >= 10" th:text="${i}" th:value="${i}">
						</th:block>
						</select>
						<select>
						<th:block th:each="i : ${#numbers.sequence(0, 3)}">
							<th:block th:if="${i*15} == *{toInteger(endTimeMinute)}">
								<option th:if="${i*15} < 10" th:text="|0${i*15}|" th:value="${i*15}" selected>
								<option th:if="${i*15} >= 10" th:text="${i*15}" th:value="${i*15}" selected>
							</th:block>
							<th:block th:if="${i*15} != *{toInteger(endTimeMinute)}">
								<option th:if="${i*15} < 10" th:text="|0${i*15}|" th:value="${i*15}">
								<option th:if="${i*15} >= 10" th:text="${i*15}" th:value="${i*15}">
							</th:block>
						</th:block>
						</select>
					</div>
				</div>
			<div class="bottom" align="center">
				<div>
					<button type="submit" class="btn-animation-update" id="confirm"
						name="update">
						<span>更新</span>
					</button>
					<button type="submit" class="btn-animation-delete" id="confirm"
						name="delete">
						<span>削除</span>
					</button>
				</div>
				<a class="btn-animation-menu"><span>戻る</span></a>

				</div>
		</div>
		<!-- container -->
		<div th:replace="util/fragments::footer_block()"></div>

	</body>
</html>
